* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: inherit;
}

nav {
    background-color: green;
    text-transform: uppercase;
    color: white;
    margin-bottom: 2em;
}

ul {
    display: table;
    width: 100%; /* ocupara el ancho total de la pagina */
    table-layout: fixed; /* todas las celdas tendran el mismo tamaño*/
}

li {
    display: table-cell;
    text-align: center;
}

a {
    padding: 2em;
    display: block; /* No hace falta que clique solo sobre las palabras que contienen en enlace, me sirve con hacer click en todo su contenedor*/
}
.menu2{
    min-width: 750px;
}
.menu2 ul {
    display: table;
    border-spacing: 1em .5em;
}

.menu2 li {
    display: table-cell;
    border: 1px solid white;
}

.menu2 a:hover {
    background-color: greenyellow;
    color: black;
}

.menu3 {
    background-color: transparent;
    color: green;
    width: 80%;
    margin: 0 auto;
    display: table-row;
}

.menu3 ul {
    border-spacing: 1em .5em;
}

.menu3 li {
    border: 1px solid green;
    display: block; /* al poner esto, se convierte en una lista vertival */
}

.menu3 a:hover {
    background-color: green;
    color: white;;
}